:root {
    --primary-color: 204 100% 50%;
    --primary-color-lighter: 204 100% 70%;
    --primary-color-darker: 204 100% 40%;

    --background-color: 0 0% 96%;
    --border-color: 0 0% 80%;

    --min-height: calc(100vh - 56px);
}